:root {
	--main-bg-color: #B5CDA3;
	--second-bg-color: #C9E4C5;
	--third-bg-color: #5F7A61;
	--forth-bg-color: #C1AC95;
}

.App {
	background-color: var(--main-bg-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.grid-post{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax( auto,18rem) );
    grid-template-rows: max-content;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 1rem;
}

.grid-post ul{
	list-style: none;
}